* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global */
:root {
    --oil: #202124;
    --night: #2D2D2D;
    --admiral: #1b66c9;
    --cobalt: #1a73e8;
    --gray: #70757A;
    --bone: #DADCE0;
    --cotton: #F2F2F2;
    --chiffon: #F8F9FA;
    --white: #FFFFFF;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    border: none;
    cursor: pointer;
    font-size: 14px;
}

body {
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
header div.container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 15px 30px;
}

header div.container nav.google-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

header div.container nav.google-links a {
    color: var(--oil);
    font-size: 14px;
}

header div.container button.google-apps {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50px;
    height: 40px;
    width: 40px;
    transition: .3s;
}

header div.container button.google-apps:hover {
    background-color: var(--bone);
}

header div.container button.google-apps img {
    height: 15px;
    width: 15px;
}

header div.container button.google-login {
    background-color: var(--cobalt);
    border-radius: 5px;
    color: var(--white);
    font-size: 14px;
    padding: 10px 25px;
    transition: .3s;
}

header div.container button.google-login:hover {
    background: var(--admiral);
    box-shadow: 0 3px 5px 0 var(--bone);
}

/* Main */
main div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

main div.container img.google-logo {
    height: 92px;
    width: 272px;
}

main div.container div.google-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--bone);
    border-radius: 100px;
    padding: 5px 20px;
    transition: .3s;
}

main div.container div.google-search:hover {
    box-shadow: 0px 1px 5px var(--bone);
}

main div.container div.google-search img {
    height: 25px;
    width: 25px;
}

main div.container div.google-search input {
    border: none;
    font-size: 16px;
    height: 35px;
    width: 350px;
}

main div.container div.google-search input:focus-visible {
    outline: none;
}

main div.container div.google-search button.google-popover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    position: relative;
}

main div.container div.google-search button.google-popover img {
    height: 25px;
    width: 25px;
}

main div.container div.google-search button.google-popover span {
    display: none;
    background-color: var(--night);
    border: 1px solid var(--white);
    position: absolute;
    top: 38px;
    padding: 5px 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
}

main div.container div.google-search button.google-popover:hover span {
    display: block;
}

main div.container div.google-search button.google-popover span::after {
    content: '';
    background-color: var(--night);
    position: absolute;
    right: 50%;
    top: -5px;
    transform: translateX(50%) rotate(45deg);
    height: 10px;
    width: 10px;
}

main div.container div.google-buttons {
    display: flex;
    gap: 10px;
}

main div.google-buttons button {
    background-color: var(--chiffon);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    transition: .3s;
}

main div.google-buttons button:hover {
    background-color: var(--chiffon);
    border: 1px solid var(--bone);
    box-shadow: 0 1px 1px var(--bone);
}

/* Footer */
footer {
    background-color: var(--cotton);
}

footer div.google-country,
footer div.google-links {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

footer div.links div {
    display: flex;
    gap: 30px;
}

footer hr.google-divider {
    border-top: 1px solid var(--bone);
}

footer div span,
footer div a {
    color: var(--oil);
    font-size: 14px;
}

@media screen and (max-width: 769px) {

    /* Section - Header */
    header>div.container {
        justify-content: space-between;
    }

    /* Section - Main */
    main div.logo img {
        width: 75%;
    }

    main div.search div:nth-child(2) input {
        width: 150px;
    }

    /* Section - Footer */
    footer div.country,
    footer div.links {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    footer div.links div {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}